@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  margin-top: 10px;
  text-align: center;
  font-family: "Bebas Neue", "sans-serif";
}

#main {
  margin-bottom: 50px;
}

h2 {
  font-size: 36px;
}

#c {
  margin-top: 20px;
}

header a {
  font-size: 24px;
  padding: 5px;
  margin-right: 5px;
}

input,
button {
  padding: 5px;
}

table {
  border-collapse: collapse;
  border: 3px solid black;
  margin: auto;
  font-size: 24px;
}

table th {
  border: 3px solid black;
  padding: 10px;
}

table td {
  border: 3px solid black;
  padding: 10px;
}

button {
  min-width: 140px;
  font-size: 24px;
  font-family: "Bebas Neue", "sans-serif";
  padding: 10px;
  border: 3px solid black;
  background-color: transparent;
  transition: 0.5s ease;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: black;
  border: 3px solid white;
  transition: 0.5s ease;
}

input {
  margin-bottom: 10px;
  font-size: 24px;
  font-family: "Bebas Neue", "sans-serif";
  padding: 10px;
  border: 3px solid black;
  transition: 0.5s ease;
}

p {
  font-size: 24px;
  transition: 0.5s ease;
}

.error {
  margin-top: 20px;
  background-color: red;
  font-size: 24px;
  transition: 0.5s ease;
}

#title {
  font-size: 36px;
  margin-bottom: 60px;
}

@media screen and (max-width: 550px) {
  body p {
    font-size: 20px;
  }
  header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  header button {
    flex-basis: auto;
    font-size: 20px;
  }
  header a {
    min-width: 0;
    margin: 0;
  }
  img {
    width: 250px;
  }
  h2 {
    font-size: 24px;
  }
  #c {
    font-size: 16px;
  }
  table {
    border: 2px solid black;
    font-size: 14px;
  }
  table th {
    border: 2px solid black;
  }
  table td {
    border: 2px solid black;
  }
  table button {
    font-size: 10px;
    min-width: 40px;
    padding: 5px;
    border: 2px solid black;
  }
}
